@import "../../index.scss";

.infoCard {
  background-color: $primary-color;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
  border: 0.5px solid rgb(232, 229, 229);
  font-size: 24px;
  font-weight: bold;

  &__value {
    color: $secondary-color;
  }
}
